@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    font-family: "Mulish", sans-serif;
}
/* shared styles */
.section-title{
    font-size: 40px;
    font-weight: 800;
    margin: 0;
    margin-bottom: 24px;
}
.section-des{
    font-size: 16px;
    color: #5a5a5d;
}
.btn-primary{
    font-size: 20px;
    font-weight: 800;
    background-color: #ff5400;
    color: white;
    border-radius: 8px;
    padding: 13px 34px;
    border: none;
}
/* body styles */
body {
    margin: 50px 130px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .menu {
    display: none;
}

.nav .name {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav .link {
    display: flex;
    gap: 44px;
}

.nav a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

/* banner styles */
.banner {
    height: 500px;
    width: 100%;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.8) 0%, rgba(19, 19, 24, 0) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    border-radius: 16px;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 185px;
    text-align: center;
}

.banner .title {
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 24px;
}

.banner .description {
    font-size: 16;
    max-width: 676px;
    margin-bottom: 48px;
}

.banner .find {
    display: flex;
    gap: 16px;
    padding: 16px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
}

.banner .find input,
.banner .find button,
.banner .find select {
    padding: 16px;
    border-radius: 8px;
    border: none;
    width: 142px;
    color: rgba(19, 19, 24, 0.5);
}

.banner .find button {
    background-color: #ff5400;
    color: white;
}
/* popular section styles */
.popular{
    display: flex;
    margin-top: 100px;
    gap: 50px;
}
.popular button{
    margin-top: 32px;
}

/* responsive mobile */
@media screen and (max-width:576px) {
    body {
        margin: 20px;
    }

    .nav .link {
        display: none;
    }

    .nav .menu {
        display: block;
    }

    .banner .title {
        font-size: 22px;
    }

    .banner-content {
        padding: 32px 24px;
    }

    .banner .find {
        flex-direction: column;
    }

    .banner .find input{
        width: 245px;
    }
    .banner .find button,
    .banner .find select{
        width: 277px;
    }
    .banner .description{
        margin-top: 8px;
        margin-bottom: 32px;
    }
}